.setting .v-application--wrap {
    min-height: 50% !important;
}
.setting .form-input {
    margin-top: 20px !important;
}
.setting .label-input{
    text-align: left;
}

@media (max-width: 992px) {
    .setting .my-input{
        margin-bottom:20px;
    }
}

.setting .custom-control-label::before {
    height: 20px !important;
    width: 20px !important;
}

.setting .card-body .custom-control-label::after {
    top: 4px !important;
    left: -24px !important;
    width: 20px !important;
    height: 20px !important;
}

@media (max-width: 1262px) {
    .setting .label-input {
        text-align: right !important;
    }
}


.setting .v-select__slot .v-label {
    left: auto !important;
}

.setting .v-input__slot {
    border: 1px solid #ced4da;
    background: white !important;
    border-radius: 30px !important;
    height: 45px !important;
    box-shadow: none !important;
    min-height: 45px !important;
}

.setting .v-application--wrap{
    flex-direction: unset;
    justify-content: flex-start;
}
.setting .v-application{
    margin-right: 70px;
}